<%= form_with(model: saved_post) do |form| %>
  <% if saved_post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(saved_post.errors.count, "error") %> prohibited this saved_post from being saved:</h2>

      <ul>
        <% saved_post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :post_id, style: "display: block" %>
    <%= form.text_field :post_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
