<p style="color: green"><%= notice %></p>

<%= render @chat_board %>

<div>
  <%= link_to "Edit this chat board", edit_chat_board_path(@chat_board) %> |
  <%= link_to "Back to chat boards", chat_boards_path %>

  <%= button_to "Destroy this chat board", @chat_board, method: :delete %>
</div>
