<p style="color: green"><%= notice %></p>

<div>
  <h1><%= @post.title %></h1>
  <p><%= "Description: #{@post.description}" %></p>
  <p><%= image_tag(@post.image) if @post.image.present? %></p>
  <p><%= "Location: #{@post.location}" %></p>
  <p><%= "Date and Time: #{@post.timeDate}" %></p>

  <p><strong>Tags:</strong>
    <% @post.tags.each do |tag| %>
      %= link_to "##{tag}", results_path(hashtag: tag), class: 'hashtag' %>
    <% end %>
  </p>

<!-- Turbo Frame for Likes -->
<%= render "posts/like_section", post: @post %>

<!-- Turbo Frame for Goings -->
<%= render "posts/going_section", post: @post %>

<div>
  <% if current_user == @post.user || current_user.moderator? || current_user.admin? %>
    <%= link_to "Edit this post", edit_post_path(@post) %> |
  <% end %>

  <%= link_to "Back to posts", root_path %>

  <% if current_user.admin? || current_user.moderator? || current_user == @post.user %>
    <%= button_to "Destroy this post", @post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  <% end %>
</div>

<!-- Comments Trigger Button -->
<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#commentsModal">
  Open Chat
</button>

<!-- Bootstrap Modal -->
<div class="modal fade" id="commentsModal" tabindex="-1" aria-labelledby="commentsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="commentsModalLabel">Chat</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% if @post.chat_boards.any? %>
          <% @post.chat_boards.each do |comment| %>
            <div class="comment">
              <p>
                <strong><%= comment.user.username %>:</strong>
                <%= comment.content %>
              </p>
              <p class="text-muted">
                Delivered <%= comment.created_at.strftime("%B %d, %Y at %I:%M %p") %>
              </p>

              <% if current_user == comment.user || current_user.admin? || current_user.moderator? %>
                <%= button_to "Delete", post_chat_board_path(@post, comment), method: :delete, 
                              data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
              <% end %>
            </div>
            <hr>
          <% end %>
        <% else %>
          <p>Start chatting!</p>
        <% end %>
      </div>
      <div class="modal-footer">
        <!-- New Comment Form -->
        <%= form_with(model: [@post, @chat_board], local: true, class: "w-100") do |form| %>
          <div class="input-group">
            <%= form.text_area :content, placeholder: "Send a message...", class: "form-control" %>
            <button type="submit" class="btn btn-primary">Chat</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>